*{
    padding: 0;
    margin: 0;
}
body{
    background:linear-gradient(to bottom,#ccc,black);
    /* font-size: 18px;
    color:gold; */
}
.tit{
    display: block;
    width: 100px;
    height: 100px;
    background-color: skyblue;
    transition: all 1s;
}
.tit:hover {
    transform: translate(500px,100px) rotateZ(360deg) scale(2,2);
}

